:root{
    --colorBackground: #efefef;
    --color1: #ffbb33;
    --color2: #222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

html, body, #root {
    background-color: var(--colorBackground);
    height: 100%;
    overflow-x: hidden;
}